<header class="header">

<button class="menu-toggle" onclick="toggleSidebar()">
    ☰
</button>

    <div class="logo-section">
        <img src="/icons/icon.png" class="logo-image">
        <h1>WorkPeek</h1>
    </div>

    
    <form class="search-bar">
        <input type="text" placeholder="Search careers, topics, or professionals..." />
    </form>

</header>