<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

<body>

    <%- include('../partials/header') %>

    <div class="layout">

        <%- include('../partials/sidebar') %>

        <main class="content">
            <h2>About Page</h2>
            <p>Check back for new video content! We want to help people see what could be by bringing you in-depth career information. Your next passion could be discovered here!</p>
        </main>

    </div>

    <%- include('../partials/footer') %>

</body>
</html>